.searchList {
  z-index: 20;
  cursor: pointer;
  background: #e8e3cd;
  border-radius: 4px;
  width: 50%;
  max-height: 349px;
  margin-top: 10px;
  padding: 13px;
  padding-bottom: 0px;
  overflow: auto;

  li {
    list-style: none;
  }

  &-images {
    align-items: center;
    gap: 14px;
    margin-bottom: 19px;
    display: flex;
  }
}
