.home-page {
  margin: auto;
  width: 75%;
}

.restaurant-grid-card {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.restaurant-grid-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.3rem;
  gap: 7px;

  Button {
    height: 25px;
    font-size: smaller;
  }

  .filter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }
}
