.search {
  width: 75%;
  position: absolute;
  top: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;

  Input {
    background: #fff;
    border-radius: 0 5px 5px 0;
    width: 450px;
    height: 41px;
    padding-left: 40px;
    box-shadow: 0 20px 30px -10px #26394d;
  }

  Button {
    background-color: rgb(255, 255, 255);
    border-radius: 5px 0 0 5px;
    align-items: center;
    gap: 9px;
    justify-content: center;
    height: 41px;
    display: flex;
    box-shadow: 0 20px 30px -10px #26394d;
    font-size: 15px;

    &:hover {
      background-color: #163c48;
      color: white;
    }
  }
}

// .location-detector {
//   width: 75%;
//   position: absolute;
//   top: 10rem;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

.accordian-panal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 3px;
  padding-top: 0px;
  padding-bottom: 0px;
  cursor: pointer;

  &:hover{
    background-color: rgb(237, 233, 233);
    color: red;
  }
}

.search-icon {
  z-index: 26;
  position: absolute;
  top: 11px;
  left: 11px;
  width: 27px;
  height: 27px;
  padding-bottom: 5px;
  object-fit: contain;
}

