.search {
  width: 81%;
  position: absolute;
  top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  Input {
    width: 48%;
    height: 2.5rem;
    border: 2px solid black;
    background: #e8e3cd;
  }

  Button {
    background-color: #3e5962;
    border: 2px solid #000;
    width: 13%;
    height: 2.5rem;

    &:hover {
      background-color: #192d33;
    }
  }
}
