.item-img-btn {
  position: relative;
  left: 12px;
  top: -11px;
  width: 28%;

  img {
    border-radius: 25px;
    width: 310px;
    height: 150px;
  }

  button {
    position: absolute;
    bottom: 0px;
    left: 35px;
    height: -5rem;
    width: 129px;
  }
}

.item-card-price {
  display: flex;
  align-items: center;
  margin-top: 5px;

  > img {
    width: 14px;
    height: 12px;
  }
}

.item-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  > img {
    width: 12px !important;
  }
}

.item-card {
  display: flex;
  justify-content: space-between;
  width: 800px;
  height: 221px;
  margin-left: -16px;
}

.item-title {
  > h3 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgba(2, 6, 12, 0.75);
    font-weight: 700;
  }
}

.item-img {
  width: 360px;
  height: 167px;
  border-radius: 25px;
}

.stepper-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
